.theme-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  justify-content: space-between;

  .h1 {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .theme-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;

  .theme-buttons {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 20%;
    &:hover {
      transform: rotate(10deg);
    }
 
  }
 
    .mode-icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        transform: rotate(10deg);
      }
      &:active {
        transform: scale(1.2);
      }
    
    }
  
  }


}